@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

.title,
.notes {
  margin: auto;
  width: 600px;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.notes {
  margin-bottom: 12px;
}

svg {
  display: inline;
  vertical-align: middle;
  margin-left: 472px;
}
